html {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 13px;
    font-family: arial, sans-serif;
}
  
.navbar {
    margin: 14px 15px 0px 15px;
}
  
ul {
    list-style: none;
    overflow: hidden;
}
  
nav li,
footer li {
    float: left;
}
  
span {
    float: right;
    padding-right: 15px;
}
  
li a {
    display: inline-block;
    padding: 5px 10px;
    color: #727272;
    text-align: center;
    text-decoration: none;
    line-height: 24px;
    font-weight: lighter;
}
  
.app-btn {
    font-size: 200%;
    color: #727272;
    position: relative;
    bottom: 3px;
    right: 5px;
}
  
.sign-in-btn {
    background-color: #4583EB;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    padding: 1.5px 13px;
    line-height: 28px;
}
  
.logo-main {
      text-align: center;
      padding-top: 109px;
      margin-top: 24px;
      position: relative;
}
  
.search {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;
}
  
form {
      display: flex;
}
  
input {
      margin-top: 20px;
      border-radius: 10px;
      padding: 13px 12px 13px 38px;
      width: 450px;
      font-size: 16px;
      border: 1px solid rgb(209, 202, 202);
      border-radius: 100px;
      background-image: url(images/search1.jpg);
      background-repeat: no-repeat;
      background-position: 15px center;
}

input:hover {
    box-shadow: 1px 1px 5px 1px #bebebe;
    border: 0;
}

.search-buttons {
      display: flex;
      justify-content: center;
}

.search-buttons a {
    display: block;
    margin: 0 7px;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    background-color: #eee;
    color: #706d6d;
    font-weight: normal;
    font-size: 14px;
    border: solid 1px #eee;
    border-radius: 5px;
}

.search-buttons a:hover {
    color: #333;
    background-color: #f2f2f2;
    border: solid 0.5px #afabab;
    transition: .1s;
    

}

.promo-link {
    margin: 20px auto;
    text-align: center;
}

.cart {
    font-size: 225%;
    color: #31a650;
    position: relative;
    top: 8px;
    right: 3px;

}

.promo-link a {
    text-decoration: none;
    color: #1a0db0;
}

#footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #e4e4e4;
    padding: 0 10px;
    line-height: 40px;
}
  
footer li a {
      padding: 5px 15px;
      color: #5f6368;
}

