html {
    box-sizing: border-box;
}

body {
    
    background: #fff;
    font-size: small;
    font-family: arial, sans-serif;
    color: #333;
    font-weight: lighter;

}

html, body {
    height: 100%;
    margin: 0;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul {
    list-style: none;
}

.navbar {
    padding-top: 1.1rem;
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 1.3rem;

}


.navbar .left {
    display: flex;
    align-items: center;
    float: left;
}

.navbar .right {
    display: flex;

    float: right;
}

.navbar li {
    padding: 0 1rem;
}

i {
    font-size: 200%;
    color: #727272;
}

#sign-in-btn a {
    background-color: #4583EB;
    color: #eee;
    border-radius: 2px;
    padding: .5rem 1rem;
    font-weight: bolder;
}


.navbar a {
    text-decoration: none;
    color: #3F3F3F;
}

.logo-main {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 10.9rem;
    margin-top: 2.4rem;
    position: relative;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    
}

form {
    display: flex;
}

input {
    margin-top: 5rem;
    border-radius: 1rem;
    padding: 2.5rem;
    height: 34px;
    font-size: 1.6rem;
    border: 1px solid rgb(209, 202, 202);
    border-radius: 10rem;
    width: 48rem;


}
